<h1 class="text-center">
	Information
</h1>
<br/>
<% @posts.each do |post| %>
<div class="span3 launch-box">
	<h1>
	<%= post.title %>
	</h1>

	<% if post.image.present? %>
	<%= image_tag post.image %>
	<% end %>

		<h2>
		<%= post.description %>
		</h2>
</div>

<% end %>